.reading{
    background-color: #202123;
    background-size: cover;
    padding-top: 100px;
    
  }
  .cards {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-left: 70px;
  }
  h1 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align: center;
  }